body {
height: 100%;
font-size: 14px;
font-weight: 500;
color: #1a3b5d;
display: block;
user-select: none;
font-family: "Source Sans Pro", sans-serif;
}

*, :before, :after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

header {
    padding: 0 25px;

    height: 100vh;
    width: 80px;
    height: 100%;
    background-image: linear-gradient( -225deg, #1C5A41 0%, #5aaf76 100% );
    position: fixed;
    top: 0px;
    z-index: 89;
    box-shadow: 0 0px 20px 0 rgba(90, 116, 148, 0.8);
    transition-duration: 0.5s;
}

header:hover {
  width: 250px;
  transition-duration: 1s;
}



.items {
    margin-top: 20px;
    display: grid;
  }

  .items img {
vertical-align: middle;
padding-right: 10px;
height: 25px;
position: relative;
right: 0.1%;
}

.items a {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.items p {
  visibility: hidden;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  position: relative;
  right: 7px;
}


@media only screen and (min-width: 1366px) {
  header:hover p {
    visibility: visible;
    color: rgba(255, 255, 255, 1);
    transition: 1s;
    right: 0px;
  }

  .hid-nav {
    display: none;
  }

  .prescription-number {
    width: 40%;
    margin-top: 2%;
    height: fit-content;
    min-width: 446px;
  }

}


main {
  width: calc(100% - 80px);
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  background: #f2f3f7;
  align-content: flex-start;
}

.add-number-label {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
    font-family: "Source Sans Pro", sans-serif;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 0px 10px;
  background: none;
  margin-top: 2px;
  color: #1a3b5d !important;
  font-family: "Source Sans Pro", sans-serif;
}

.recipe-submit {
    width: 100%;
    height: 55px;
    background: #2a8f68;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.dose-amount {
  -webkit-appearance: none;
background-image: url(../img/pointer.png);
background-size: 12px;
background-position: 95% center;
background-repeat: no-repeat;
padding-right: 30px;
}

article {
 position: relative;
 display: flex;
 width: 100%;
 height: 400px;
 overflow: hidden;
 justify-content: flex-end;
}

article section {
 position: absolute;
 display: block;
 margin-left: auto;
 width: 80%;
 top: 400px;
 height: 400px;
 text-align: center;
}

#a {
 background: #f2f3f7;
 display: flex;
 flex-wrap: wrap;
 align-content: flex-start;
}

#b {
  background: #f2f3f7;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#c {
  background: #f2f3f7;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#d {
  background: #f2f3f7;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

h2 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 font-size: 15px;
 color: #8b9494;
 text-align: left;
 text-transform: uppercase;
}

h2 span {
  color: #616161;
}

h3 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-weight: 300;
  color: #8b9494;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
}

h3 span {
  color: #2a8f68;
}

a {
 font-family: 'Comfortaa', cursive;
 color: #fff;
 display: inline-block;
 padding: 1em;
 text-decoration: none;
 border-radius: 4px;
 margin: .5em;
}

#a a {
 background: #2364d2;
}
#a a:hover {
 background: #2553a1;
}
#b a {
 background: #e600e5;
}
#b a:hover {
 background: #f500f5;
}
#c a {
 background: #666700;
}
#c a:hover {
 background: #767600;
}
#d a {
 background: #0483ff;
}
#d a:hover {
 background: #148bff;
}



.ab-dose {
  width: 460px;
}

.ab-dose form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

#doserange {
  -webkit-appearance: none;
width: calc(100% - (70px));
height: 2px;
border-radius: 5px;
background: rgba(255, 255, 255, 0.314);
outline: none;
padding: 0;
margin: 0;
cursor: pointer;
}

.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 214, 214, 0.08);
  border-radius: 8px;
  margin: 30px 0 0px 0;
}
.range__slider::before, .range__slider::after {
  position: absolute;
  color: #8b9494;
  font-size: 0.9rem;
  font-weight: bold;
}
.range__slider::before {
  content: attr(data-min);
  left: 10px;
}
.range__slider::after {
  content: attr(data-max);
  right: 10px;
}
.range__slider .length__title::after {
  content: attr(data-length);
  padding-left: 5px;
  font-variant-numeric: tabular-nums;
}


#slider {
    -webkit-appearance: none;
    width: calc(100% - (70px));
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.314);
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2a8f68;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
  background: #5aaf76;
  transform: scale(1.2);
}
#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2a8f68;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
  background: #5aaf76;
}
.field-title {
    position: absolute;
    top: -10px;
    left: 2px;
    transform: translateY(-50%);
    font-weight: 800;
    pointer-events: none;
    user-select: none;
}

label, .length__title, .field-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  font-weight: 300;
}


form > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.recipe-submit:last-of-type {
  padding: 5px;
}


.recipe-description {
  margin: 0px 2%;
}

.ab-description {
  margin-left: 2%;
}

.advise {
  animation-name: adv_ise;
  color: #2a8f68;
  animation-duration: 1s;
  font-weight: 800;
  padding-top: 25px;
}

@keyframes adv_ise {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  50% {
    transform: scale(1.06);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.table {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;

}

table {
 border-collapse: collapse;
 width: 100%;
 table-layout: fixed;
 box-shadow: 5px 1px 20px 1px #ddd;
transform: scale(0.98);
background: white;
}

table:first-of-type {
  margin-top: 15px;
}
td, th {
  padding: 5px;
      padding-right: 10px;
      border: 1px solid #729ea5;
      border-right: none;
      text-align: left;
      text-transform: uppercase;
}

td:nth-child(2n){
  border: 1px solid #729ea5;
border-left: none;
text-align: right;
}

.nd {
  margin-top: 20px;
  width: 40%;
  height: min-content !important;
}

h4 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-weight: 300;
  color: #8b9494;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
}

h4 span {
  color: #2a8f68;
}

.return h2 {
  display: none;
  transition: 0.3s;
  animation-timing-function: ease-in-out;
}

.return2 h2 {
  display: none;
  transition: 0.3s;
    animation-timing-function: ease-in-out;
}

.is-active h2 {
  display: flex;
}

/* Новые карточки стили */
* {
  box-sizing: border-box;
}



.card-flip {
  width: 100%;
    border-radius: 4px;
    transition: 0.3s;
    margin: 3%;
    height: fit-content;
    display: block;
    transition: 1s;
  height: 340px;
  margin: 1em;
  perspective: 1500px;
  width: 450px;
}
.card-flip .content {
  width: 100%;
  height: inherit;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
  display: none;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}

.front .inner,
.back .inner {
  height: 100%;
  display: grid;
  padding: 2.5em;
  transform: translateZ(80px) scale(0.94);
}

.front {
  width: 100%;
  background-color: white;
    border-radius: 4px;
    transition: 0.3s;
    display: flex;
    transition: 1s;
}

.front:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.98);
}

.front h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.front .rating {
  grid-row: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
}
.front .rating i {
  margin: 0 1px;
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0;
}
.back .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.8em;
  justify-items: center;
}
.back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: #355cc9;
  grid-row: 3;
}
.back .info:not(:first-of-type):before {
  content: "";
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
}
.back .info span {
  font-size: 2em;
  font-weight: 700;
}
.back .info i {
  font-size: 1.2em;
}
.back .info i:before {
  background: linear-gradient(40deg, #355cc9, #438af3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.back .info .icon {
  margin-left: 0.3em;
}
.back .info .icon span {
  display: block;
  margin-top: -0.25em;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
}
.back .description {
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #355cc9;
  padding-right: 10px;
}
.back .location,
.back .price {
  font-weight: 600;
  color: #355cc9;
  grid-row: 1;
  font-size: 0.86em;
}
.back .location {
  grid-column: 1/3;
  justify-self: left;
}
.back .price {
  grid-column: 3/-1;
  justify-self: right;
}
.back .button {
  grid-column: 1/-1;
  justify-self: center;
}

.button {
  width: 100%;
      height: 55px;
      background: #2a8f68;
      border: none;
      border-radius: 5px;
      font-size: 22px;
      font-weight: 500;
      font-family: "Source Sans Pro", sans-serif;
      box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
      color: #fff;
      margin-top: 20px;
      text-align: center;
      align-items: center;
      cursor: default;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
            transition: 1s;
}
.button:hover {
  border-color: #ffffff;
  text-shadow: none;
    transition: 1s;
    box-shadow: none;
}
.button.return {
  line-height: 3em;
    color: #ffffff;
    border-color: #ffffff;
    text-shadow: none;
      transition: 1s;
}
.button.return:hover {
  background-color: #2a8f68;
  color: #fff;
  box-shadow: none;
  transition: 1s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #55917a;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a8f68;
}


@media only screen and (max-width: 1365px) {
  header {
    width: 100%;
    height: fit-content;
    display: flex;
    position: fixed;
    padding: 0px;
    top: 0px;
  }

label, .length__title, .field-title {
  font-size: 15px;
}

  .items p {
    color: rgba(255, 255, 255, 1);
    visibility: visible;
  }

  header:hover {
    width: 100%;
  }

  .items {
    display: flex;
    margin: 15px auto;
  }

  .items a {
    padding: 20px 20px;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
  }

  .items p {
    padding-left: 5px;
  }

  main {
    width: 100%;
    background: #f2f3f7;
  }
  .hid-nav {
    display: flex;
  }


  section > .card {
    width: 100%;
    background-color: white;
      border-radius: 4px;
      padding: 25px 25px 15px 25px;
      transition: 0.3s;
      margin: 3%;
      height: fit-content;
      display: flex;
      transition: 1s;
  }

  section > .card:hover {
    box-shadow: 5px 1px 20px 1px #ddd;
    transform: scale(0.98);
  }

  .card-flip {
    width: 100% !important;
    height: 500px;
  }

  .recipe-description h3:first-of-type {
    padding-top: 0px;
  }

  .form-input {
    height: 75px;
    font-size: 30px;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 2.5em;
  }

  .front {
    height: unset;
  }

  .form-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .form-buttons > div {
    flex-grow: 1;
  }

  .form-buttons > div:first-of-type {
    margin-right: 20px;
  }

  .button {
    padding: 5px;
    height: 80px;
    font-size: 30px;
    font-weight: 500;
  }

}
