body {
height: 100%;
font-size: 14px;
font-weight: 500;
color: #1a3b5d;
display: block;
user-select: none;
font-family: "Source Sans Pro", sans-serif;
}

*, :before, :after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.add-number-label {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
    font-family: "Source Sans Pro", sans-serif;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ced6e0;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 0px 10px;
  background: none;
  margin-top: 2px;
  color: #1a3b5d !important;
  font-family: "Source Sans Pro", sans-serif;
}

.recipe-submit {
  width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.dose-amount {
  -webkit-appearance: none;
background-image: url(../img/pointer.png);
background-size: 12px;
background-position: 95% center;
background-repeat: no-repeat;
padding-right: 30px;
}



article {
 position: relative;
 display: flex;
 width: 100%;
 height: 400px;
 overflow: hidden;
 justify-content: flex-end;
}

article section {
 position: absolute;
 display: block;
 margin-left: auto;
 width: 80%;
 top: 400px;
 height: 400px;
 text-align: center;
}

#a {
 background: #f2f3f7;
 display: flex;
 flex-wrap: wrap;
 align-content: flex-start;
}

#b {
 background: magenta;
}

#c {
 background: olive;
}

#d {
 background: dodgerblue;
}

h2 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 font-size: 15px;
 color: #8b9494;
 text-align: left;
 text-transform: uppercase;
}

h2 span {
  color: #616161;
}

h3 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-weight: 300;
  color: #8b9494;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
}

h3 span {
  color: #34d0c4;
}

a {
 font-family: 'Comfortaa', cursive;

 color: #fff;
 display: inline-block;
 padding: 1em;
 text-decoration: none;
 border-radius: 4px;
 margin: .5em;
}
#a a {
 background: #2364d2;
}
#a a:hover {
 background: #2553a1;
}
#b a {
 background: #e600e5;
}
#b a:hover {
 background: #f500f5;
}
#c a {
 background: #666700;
}
#c a:hover {
 background: #767600;
}
#d a {
 background: #0483ff;
}
#d a:hover {
 background: #148bff;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-image: linear-gradient( -225deg, #5271c4 0%, #b19fff 48%, #eca1fe 100% );
    display: flex;
    position: absolute;
    z-index: 89;
    box-shadow: 0 0px 20px 0 rgba(90, 116, 148, 0.8);
  }

  .wrapper {
    padding: 0 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.items {
    margin-top: 50px;
  }

  .items img {
vertical-align: middle;
padding-right: 10px;
}

.items a {
  display: block;
}

.card {
  width: 540px;
  background-color: white;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 25px 25px 15px 25px;
    transition: 0.3s;
    height: 45%;
    margin-left: 3%;
    height: 340px;
}
.card:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.98);
}

.prescription-number {
  width: 40%;
  margin-top: 2%;
  height: 258px;
  min-width: 446px;
}

.ab-dose {
  width: 460px;
}

.ab-dose form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

#doserange {
  -webkit-appearance: none;
width: calc(100% - (70px));
height: 2px;
border-radius: 5px;
background: rgba(255, 255, 255, 0.314);
outline: none;
padding: 0;
margin: 0;
cursor: pointer;
}





.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 214, 214, 0.08);
  border-radius: 8px;
  margin: 30px 0 0px 0;
}
.range__slider::before, .range__slider::after {
  position: absolute;
  color: #8b9494;
  font-size: 0.9rem;
  font-weight: bold;
}
.range__slider::before {
  content: attr(data-min);
  left: 10px;
}
.range__slider::after {
  content: attr(data-max);
  right: 10px;
}
.range__slider .length__title::after {
  content: attr(data-length);
  padding-left: 5px;
  font-variant-numeric: tabular-nums;
}


#slider {
    -webkit-appearance: none;
    width: calc(100% - (70px));
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.314);
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #34d0c4;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
  background: #d4d4d4;
  transform: scale(1.2);
}
#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #34d0c4;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
  background: #34d0c4;
}
.field-title {
    position: absolute;
    top: -10px;
    left: 2px;
    transform: translateY(-50%);
    font-weight: 800;
    pointer-events: none;
    user-select: none;
}

label, .length__title, .field-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  font-weight: 300;
}


form > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 60%;
}

form div:first-of-type {
  width: 35%;
}

form div:nth-of-type(2) {
  margin-left: 5%;
}

.recipe-submit:last-of-type {
  padding: 5px;
}

.card:last-of-type {
  height: 327px;
}

.recipe-description {
  margin: 2%;
  height: 258px;
}

.ab-description {
  margin-left: 2%;
}

.advise {
  color: #34d0c4;
}
